#academics .bg-purple{
    background-color: var(--primary-color);
}

#academics .col-lg-4:nth-child(2) .card,
#academics .col-lg-4:nth-child(3) .card,
#academics .col-lg-4:nth-child(4) .card,
#academics .col-lg-4:nth-child(5) .card{
    height: 400px;
}
#academics .col-lg-4:first-child .card,
#academics .col-lg-4:last-child .card{
    height: 400px;
}
#plans h3 {
    font-size: 3rem;
}
@media screen and(max-width:992px) {
    #academics .col-lg-4:nth-child(2) .card{
        height: 400px;
    }
}