:root{
  --primary-color:#B197FC;
  --secondary-color:#9b79ff;
}

.text-purple{
  color: var(--primary-color);
}

.bg-purple{
  background-color: var(--primary-color);
}

.section-title{
  font-size: 4rem;
}
.App .btn{
  font-weight: 500;
}
@media screen and (max-width:768px) {
  .section-title{
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .section-title{
    font-size: 2rem;
  }
}
